*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
    background-color: #2d4e56;
    height: 200px;
}
#contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background-color: #43747e;
}
#piePagina{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1em;
    background-color: #59a5af;
    width: 100%;
    height: 200px;
}
#Normal{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}
#Normal > p{
    flex-basis: 10%;
    text-align: center;
    background-color: white;
    height: 30px;
    font-size: 20px;
    border: 1px solid black;
}
#Ordenado{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}
#Ordenado > p{
    flex-basis: 10%;
    text-align: center;
    background-color: white;
    height: 30px;
    font-size: 20px;
    border: 1px solid black;
}
.boton{
    display: flex;
    justify-content: end;
}
.boton2{
    margin: 0 auto;
    margin-top: 1em;
    width: 60%;
    font-size: 20px;
    background-color: #004855;
    cursor: pointer;
}
input{
    width: 100%;
    height: 2em;
    border: 2px solid black;
    font-size: 20px;
    padding-left: 0.2em;
}

button{
    margin-top: 1em;
    width: 100px;
    font-size: 20px;
    background-color: #004855;
    cursor: pointer;
}
button:hover{
    background-color: #009ca2;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 400px);
}
@media(max-width:1200px){
    main{
        flex-direction: column;
    }
    #contenedor{
        margin-bottom: 1em;
    }
}
